*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}

#mySidenav{
    display: none;
}

.mobileNav{
    display: none;
}
.bg{
    background: url(./Images/backgroundHome.png);
    background-size: cover;
}

.navbar{
    display: flex;
    padding-top: 5px;
}

.siteName{
    text-align: center;
    margin: 10px;
    width: 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.siteName b{
    padding: 6px;
    background: linear-gradient(to right,#5DE0E6,#004AAD);
    color: #FFFFFF;
    border-radius: 5px;
    margin-right: 3px;
}

nav{
    width: 60%;
    margin-top: 13px;
    
}

nav a{
    position: relative;
    text-decoration: none;
    font-family: 'Inter';
    color: #000;
    padding: 5px;
    margin: 13px;
}

.navbar a:after{
    content:'';
    width: 0%;
    height: 2px;
    position: absolute;
    background-color: #000;
    left: 0px;
    bottom: -2px;
    transition-property: width;
    transition-duration: 0.3s;
}

a:hover{
    color: #000;
}

a:hover:after{
    width: 100%;
}

.active{
    border-bottom: 2px solid #000;
}
.buttons{
    width: 20%;
    text-align: center;
    display: flex;
}

.signIn, .docs{
    margin: 10px;
}

.signIn button{
    padding: 8px;
    font-size: 14px;
    font-weight: 200;
    font-family: 'Inter';
    padding-left: 15px;
    padding-right: 15px;
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 3px;
    transition-property: background-color;
    transition-duration: 0.4s;
}

.docs button{
    padding: 8px;
    color: #FFF;
    font-weight: 100;
    font-size: 16px;
    font-family: 'Inter';
    padding-left: 15px;
    padding-right: 15px;
    background-color: #000;
    border: none;
    border-radius: 3px;
    transition-property: background-color;
    transition-duration: 0.4s;
}

.docs button:hover{
    background-color: #343434;
    cursor: pointer;
}

.signIn button:hover{
    background-color: #d8d6d6;
    cursor: pointer;
}

/*-------------------------------------------------------------------Mast--------------*/

.mast{
    display: flex;
    margin-bottom: 100px;
    background-size:cover ;
}
.mastName{
    width: 50%;
    margin-left: 60px;
    margin-top: 10%;
}

.mastName p{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #004AAD;
    line-height: 44.306px;
}

.mastName h1{
    font-size: 77.6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    line-height: 85.291px;
}

.mastName h3{
    font-size: 44.6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #004AAD;
    line-height: 77.6px;
}

.mastImg img{
    margin-top: 50px;
    height: 500px;
    width: 500px;
    margin-bottom: 100px;
}

.mastName button a{
    text-decoration: none;
    color: #FFF;
}

.mastName button{
    border: none;
    border-radius: 8px;
    padding: 20px;
    font-size: 16px;
    line-height: 16px;
    background-color: #000;
    color: #FFF;
    transition-property: background-color;
    transition-duration: 0.4s;
    margin-top: 60px;
}

.mastName button:hover{
    background-color: #343434;
    cursor: pointer;
}


/*----------------------------------------------------------Main Section-------------*/


hr{
    height: 8px;
    background-color: #cfcfcf;
    margin-bottom: 40px;
    border: none;
}

.technologies h1{
    text-align: center;
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
}

.lang{
    display: flex;
    margin-bottom: 200px;
    margin-left: 100px;
    position: relative;
}

.html{
    margin: 30px;
    padding: 10px;
    width: 200px;
    background-color:#FFF;
    box-shadow: 0px 6px 10px 0px #cfcfcf;
    border-radius: 13px;
}

.html img{
    height: 200px;
    width: 200px;
    border-radius: 13px;
}

.innerHtml{
    transition: opacity 1s ease-out, padding 0.5s;
    opacity: 0;
    height: 0;
    overflow: hidden;
    border-top: 1px solid #cfcfcf;
}

.html:hover .innerHtml{
    opacity: 1;
    padding-bottom: 100px;
}

.html b{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 44px;
    font-weight: 400;
}

.progressHtml{
    background:linear-gradient(to right, #FFF, #bab9b9);
    height: 12px;
    border-radius: 8px;
    width: 100%;
    position: relative;
}

.progressHtml:after{
    content: ' ';
    width: 80%;
    border-radius: 8px;
    height: 12px;
    background: linear-gradient(to right,#5DE0E6,#004AAD);
    position: absolute;
}

.css{
    margin: 30px;
    padding: 10px;
    width: 200px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 10px 0px #cfcfcf;
    border-radius: 13px;
    position: absolute;
    left: 260px;
}

.css img{
    height: 200px;
    width: 200px;
    border-radius: 13px;
}

.innerCss{
    transition: opacity 1s ease-out, padding 0.5s;
    opacity: 0;
    height: 0;
    overflow: hidden;
    border-top: 1px solid #cfcfcf;
}

.css:hover .innerCss{
    opacity: 1;
    padding-bottom: 100px;
}

.css b{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 44px;
    font-weight: 400;
}


.progressCss{
    background:linear-gradient(to right, #FFF, #bab9b9);
    height: 12px;
    border-radius: 8px;
    width: 100%;
    position: relative;
}

.progressCss:after{
    content: ' ';
    width: 60%;
    border-radius: 8px;
    height: 12px;
    background: linear-gradient(to right,#5DE0E6,#004AAD);
    position: absolute;
}


.js{
    margin: 30px;
    padding: 10px;
    width: 200px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 10px 0px #cfcfcf;
    border-radius: 13px;
    position: absolute;
    left: 520px;
}

.js img{
    height: 200px;
    width: 200px;
    border-radius: 13px;
}

.innerJs{
    transition: opacity 1s ease-out, padding 0.5s;
    opacity: 0;
    height: 0;
    overflow: hidden;
    border-top: 1px solid #cfcfcf;
}

.js:hover .innerJs{
    opacity: 1;
    padding-bottom: 100px;
}

.js b{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 44px;
    font-weight: 400;
}


.progressJs{
    background:linear-gradient(to right, #FFF, #bab9b9);
    height: 12px;
    border-radius: 8px;
    width: 100%;
    position: relative;
}

.progressJs:after{
    content: ' ';
    width: 40%;
    border-radius: 8px;
    height: 12px;
    background: linear-gradient(to right,#5DE0E6,#004AAD);
    position: absolute;
}


.c{
    margin: 30px;
    padding: 10px;
    width: 200px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 10px 0px #cfcfcf;
    border-radius: 13px;
    position: absolute;
    left: 780px;
}

.c img{
    height: 200px;
    width: 200px;
    border-radius: 13px;
}

.innerC{
    transition: opacity 1s ease-out, padding 0.5s;
    opacity: 0;
    height: 0;
    overflow: hidden;
    border-top: 1px solid #cfcfcf;
}

.c:hover .innerC{
    opacity: 1;
    padding-bottom: 100px;
}

.c b{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 44px;
    font-weight: 400;
}


.progressC{
    background:linear-gradient(to right, #FFF, #bab9b9);
    height: 12px;
    border-radius: 8px;
    width: 100%;
    position: relative;
}

.progressC:after{
    content: ' ';
    width: 80%;
    border-radius: 8px;
    height: 12px;
    background: linear-gradient(to right,#5DE0E6,#004AAD);
    position: absolute;
}

.css, .js, .c{
    top: 0;
}

.innerC, .innerCss, .innerHtml, .innerJs{
    text-align: left;
}

/*-----------------------------------------------Project--------------*/

.project h1{
    text-align: center;
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 80px;
}

.project1{
    display: flex;
    margin-bottom: 150px;
}
.project2{
    display: flex;
    margin-bottom: 150px;
}

.project1Content{
    width: 50%;
    margin-left: 30px;
    margin-right: 20px;

}

.project1Content h5{
    color: #004AAD;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    line-height: 24px;
    margin-bottom: 20px;
}

.project1Content h1{
    font-size: 35px;
    font-weight: 700;
    text-align: left;
    line-height: 54.6px;
    margin-bottom: 5px;
    filter: drop-shadow(0 0 0.10rem rgb(211, 211, 211));
}

.project1Content h1 b{
    padding: 6px;
    color: #FFF;
    border-radius: 7px;
    background: linear-gradient(to right,#5DE0E6,#004AAD);
}

.project1Content p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #757575;
    letter-spacing: 0.75px;
    line-height: 20px;
    word-spacing: 2px;
}

.project1Img{
    width: 50%;
}
.project1Img img{
    height: 370px;
    width: 370px;
}

.project1Content button{
    padding: 12px;
    color: #FFF;
    font-weight: 100;
    font-size: 14px;
    font-family: 'Inter';
    padding-left: 15px;
    padding-right: 15px;
    background-color: #000;
    border: none;
    border-radius: 3px;
    transition-property: background-color;
    transition-duration: 0.4s;
    margin-top: 30px;
}

.project1Content button:hover{
    background-color: #343434;
    cursor: pointer;
}

.project2Content{
    margin-left: 100px;
    margin-right: 50px;
}

.project2Content h1{
    margin-bottom: 20px;
}

.project2 img{
    height: 350px;
    width: 450px;
}

.expContent{
    display: flex;
    margin-bottom: 100px;
    margin: 20px;
}

.experience h1{
    text-align: center;
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 80px;
}

.oneliner{
    width: 50%;
    padding: 30px;
    border-radius: 13px;
    box-shadow: 0px 6px 10px 0px #cfcfcf;
    margin: 10px;
}
.content{
    margin-right: 0px;
}
.content h1{
    margin-bottom: 20px;
    text-align: left;
    font-size: 32px;
    line-height: 44px;
}

.content > p{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #757575;
    padding-bottom: 20px;
}

.innerCon1 > b{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 44px;
}

.innerCon1{
    border-top: 1px solid #cfcfcf;
}

.innerCon1 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #757575;
}

.content h1 button{
    background: linear-gradient(to right,#5DE0E6,#004AAD);
    border: none;
    padding: 5px;
    margin-top: -1px;
    border-radius: 3px;
    color: #FFF;
    font-weight: 400;
}

.content h1 b{
    font-size: 14px;
    color: #FFF;
    background-color: #000;
    margin-right: 5px;
    padding: 4px;
    border-radius: 3px;
    font-weight: 400;

}

.reqSkills button{
    background-color: #000;
    border: none;
    color: #FFF;
    padding: 5px;
    border-radius: 4px;
}

.tbb{
    width: 50%;
    padding: 30px;
    border-radius: 13px;
    box-shadow: 0px 6px 10px 0px #cfcfcf;
    margin: 10px;
}

#section3{
    margin-top: 100px;
}

.about b{
    color: #004AAD;
}

.paperBack{
    
    display: flex;
    background-color: #FFF; 
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 150px;
    padding: 30px;
    border-radius: 13px;
    box-shadow: 0px 6px 10px 0px #cfcfcf;
}
.profile{
    width: 30%;
}
.profile img{
    height: 160px;
    width: 160px;
    border-radius: 100%;
}

.profile h3{
    font-size: 30px;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 50px;
    margin-top: 50px;
    border-bottom: 1px solid #cfcfcf;
}

.profile li{
    color: #000;
    margin-top: 20px;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.aboutSkills{
    width: 70%;
    margin-left: 20px;
}

.aboutSkills h1{
    color: #000;
    text-align: left;
    font-size: 60px;
    line-height: 44px;
    padding-bottom: 25px;
    margin-top: 35px;
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 0px;
}

.aboutSkills button{
    background-color: #000;
    border: none;
    padding: 10px;
    color: #FFF;
    border-radius: 7px;
    margin-top: 15px;
}

.aboutSkills p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #343434;
    margin-top: 20px;
    line-height: 30px;
    font-size: 18px;
}

.connect b{
    color: #004AAD;
}

.connectpg{
    display: flex;
}

.connectImg img{
    width: 100%;
    height: 400px;
    width: 400px;
}

.connectForm{
    margin-left: 80px;
    background: linear-gradient(to right,#5DE0E6,#004AAD);
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
    padding: 30px;
    border-radius: 13px;
    color: #FFF;
}

.connectForm label{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 10px;
}

.connectForm input[type="text"], textarea{
    background: transparent;
    width: 70%;
    border: 1px solid #343434;
    color: #FFFFFF;
    padding: 5px;
    border-radius: 3px;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input::placeholder, textarea::placeholder{
    color: #FFF;
}

input[type=text]:focus, textarea:focus{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: transparent;
}

#name{
    margin-left: 2px;
}

input[type=submit]{
    background-color: #FFFFFF;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}

label{
    font-weight: 700;
}

.afterSubmit h1{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 65px;
    display: none;
}

/*-----------------------------------------------------MediaQuery-------------------------*/

@media only screen and (max-width: 1133px){

    .lang{
        margin-left: 20px;
    }

    .connectForm{
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media only screen and (max-width: 1050px){
    .lang{
        margin-left: 0px;
    }

    .project1Content p {
        font-size: 13px;
    }

    .project1Content h1{
        font-size: 30px;
    }

    .project2Content h1{
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 1030px){
    .lang{
        display: block;
    }

    .css, .js, .c{
        position: static;
    }
}

@media only screen and (max-width: 1022px){
    .profile h3{
        margin-top: 15px;
    }

    .aboutSkills p{
        font-size: 15px;
    }

    .aboutSkills button{
        font-size: 10px;
    }

    .aboutSkills h1{
        font-size: 50px;
    }

    .mastName p{
        font-size: 40px;
    }

    .mastName h1{
        font-size: 65.6px;
    }

    .mastName h3{
        font-size: 40px;
    }

    .mastImg img{
        height: 450px;
        width: 450px;
    }

    .project1Img img{
        height: 320px;
        width: 320px;
    }

    .project2Img{
        width: 42%;
    }

    .project1Content h1{
        font-size: 25px;
        line-height: 40px;
    }

    .project2Img img{
        height: 300px;
        width: 384px;
    }

    .project1Content p{
        font-size: 11px;
    }

    .project2Content{
        width: 58%;
        margin-right: 0px;
    }

    .paperBack{
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media only screen and (max-width: 900px){
    .content h1 b{
        font-size: 10px;
    }

    .paperBack{
        margin-left: 100px;
        margin-right: 100px;
    }

    .connectImg img{
        margin-left: 60px;
        height: 400px;
        width: 300px;
    }

    .mastName p{
        font-size: 30px;
    }

    .mastName h1{
        font-size: 50px;
        line-height: 54px;
    }

    .mastName h3{
        font-size: 30px;
    }

    .mastImg img{
        height: 400px;
        width: 400px;
        margin-top: 30px;
    }

    .project2Img img{
        width: 350px;
    }
}

@media only screen and (max-width: 768px){
    nav{
        width: 54%;
    }

    .project1Img img{
        margin-left: 30px;
    }

    .project2Img img{
        width: 290px;
    }

    .project2Content{
        margin-left: 30px;
    }

    .expContent{
        display: block;
    }

    .oneliner, .tbb{
        margin-left: 0px;
        width: 92%;
    }

    .paperBack{
        margin-left: 50px;
        margin-right: 50px;
    }

    .connectpg{
        display: block;
    }

}

@media only screen and (max-width: 739px){

    .project1{
        display: block;
    }

    .project2{
        display: block;
    }

    .project1Content{
        width: 92%;
    }

    .project2Img img{
        width: 370px;
    }

    .project1Img img{
        width: 370px;
    }

    .project1Img{
        width: 100%;
    }

    .project2Img{
        width: 100%;
    }

    .mastName button{
        padding: 16px;
        font-size: 12px;
    }

    .mastName p{
        font-size: 24px;
    }

    .mastName h1{
        font-size: 44px;
    }

    .mastName h3{
        font-size: 24px;
        line-height: 44.6px;
    }

    .mastImg img{
        height: 300px;
        width: 300px;
    }

}


@media only screen and (max-width: 676px){
    nav{
        width: 48%;
    }

    .profile h3{
        font-size: 24px;
    }

    .profile li{
        font-size: 12px;
    }

    .aboutSkills p{
        font-size: 13px;
    }
}

@media only screen and (max-width: 616px){
    .siteName{
        font-size: 14px;
    }

    nav{
        margin-top: 11px;
    }

    nav a{
        font-size: 12px;
    }

    .signIn button, .docs button{
        font-size: 12px;
    }

    .mastImg img{
        height: 250px;
        width: 250px;
    }

    .mastName p{
        font-size: 20px;
    }

    .mastName h1{
        font-size: 35px;
        line-height: 40px;
    }

    .mastName h3{
        font-size: 20px;
    }

    .mastName button{
        margin-top: 30px;
        padding: 12px;
        font-size: 10px;
    }

    .paperBack{
        display: block;
        text-align: center;
    }

    .profile{
        width: 100%;
    }

    .aboutSkills h1{
        text-align: center;
    }

    .aboutSkills{
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }

    .oneliner, .tbb{
        width: 88%;
    }
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

@media only screen and (max-width: 450px){
    .navbar{
        display: none;
    }

    .mast{
        display: block;
    }

    .mastName{
        width: 80%;
    }

    .mastImg{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .technologies h1{
        font-size: 55px;
    }
    
    .html, .c, .css, .js{
        width: 150px;
    }

    .html img, .css img, .c img, .js img{
        height: 100px;
        width: 100px;
    }

    .project h1{
        font-size: 50px;
    }

    .project1Content h1{
        font-size: 25px;
    }

    .project1Content p{
        font-size: 15px;
        line-height: 25px;
    }

    .experience h1{
        font-size: 50px;
    }

    .content p{
        line-height: 25px;
    }

    .aboutSkills p{
        line-height: 25px;
        font-size: 15px;
        color: #343434;
    }

    .about h1{
        font-size: 50px;
    }

    .connect h1{
        font-size: 50px;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }

    .project1Img img{
        margin-left: 0px;
    }

    .oneliner, .tbb{
        width: 84%;
    }

    .mobileMast b{
        background-color: #004AAD;
        color: #FFF;
        padding: 3px;
        border-radius: 3px;
    }

    .mobileMast p{
        color: #FFF;
    }

    .mobileMast{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
    }

    .mobileNav{
        display: block;
        display: flex;
        padding: 10px;
        background: linear-gradient(to right, #5DE0E6, #004AAD);
        box-shadow: 0px 6px 10px 0px #818181;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 4;
    }

    .mobileMast{
        width: 80%;
        text-align: right;
    }

    .ham{
        width: 10%;
    }

    .bar1, .bar2, .bar3{
        width: 25px;
        height: 3px;
        background-color: #FFF;
        margin: 3px;
        border-radius: 3px;
    }

    .mastName{
        margin-top: 100px;
    }

    .mastName p{
        font-size: 35px;
    }

    .mastName h1{
        font-size: 54px;
        line-height: 80px;
    }

    .mastName h3{
        font-size: 35px;
    }

    .mastName button{
        padding: 16px;
        font-size: 14px;
        margin-top: 60px;
    }

    .mastImg img{
        margin-top: 60px;
        height: 300px;
        width: 300px;
    }

    .content h1{
        font-size: 28px;
    }

    .content h1 b{
        font-size: 10px;
    }

    .aboutSkills h1{
        font-size: 35px;
    }

    .connectImg img{
        margin-left: 0px;
    }

    #mySidenav{
        display: block;
    }

    .connectForm{
        width: 50%;
    }

    .paperBack{
        margin-left: 40px;
        margin-right: 40px;
    }

    .connectForm{
        margin-left: 20px;
        margin-right: 20px;
        width: 60%;
    }

    
}





